<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace" configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>UjpnmxoCW1m+RAzyiPa12NPw7h9I/5mie3DSMP7caXnQlEEx7l9s6LXoS+DQ35yyGronlsUuSzNjNhIiYMCPGBDcpCEnzJWJUE4PCr10lrHr9UguNGcQElYe8V3CyjzjThLdmvGhXS09yFP1/B6/o4R1k24DTcyj8L3d5ApfaPY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>a55wKuNsLnDnVMyxiVu+gU8XUltNRHZ3+DW+5qsKd0bNBUKw4OiHODtphetB8UTexZT2/Eib/0kocF3W8M9BPJxKPDmlSuEpDfRMwi05Hffl+NxaCLNYH4Kf8mXTCsnS43H/8zV3BHVOj5grvJ3EqEoB6xm1gd9jjg+k61uI5jpb1BJ7+WAPSbSRNcCFyOSmCzWqZiBCrKYiMvd2Oz38KUTj3xPhGPkAClvbDXPZklr65EPd6+zzZXwW4cxRgZQPahmV36sS7+55uRi5oYSH8Tb4XKZq50uMsIHkZtVDAmahSLefa/K/sDwzeuAjHJeh+rK+i0LOMulqEqjSA+cGqGiUM4iRjLdzQmy9RE1B3sE=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms name=".VOTINGAUTH_RELEASE" xdt:Transform="SetAttributes" />
    </authentication>
  </system.web>
</configuration>