body {
    padding-top: 70px;
    padding-bottom: 30px;
}

h1.center {
    text-align: center;
}

.block-group input.form-control:not(:first-of-type) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.block-group input.form-control:not(:last-of-type) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

li.strong-option {
    font-weight: bold;
}

.info-panel {
    background-color: #EEEEEE;
    border-radius: 4px;
}

.info-panel ul {
    padding-left: 20px;
}

.focus-no-outline:focus {
    outline-color: rgba(0, 0, 0, 0);
}

/* score sheet */

.scoresheet .header-bar {
    background-color: #428bca;
}

.scoresheet th {
    min-width: 60px;
}

.scoresheet .selector {
    white-space: nowrap;
    min-width: 175px;
}

.scoresheet .total {
    font-weight: bold;
}

.scoresheet .military {
    background-color: #f2dede;
}

.scoresheet .coin {
    
}

.scoresheet .wonder {
}

.scoresheet .civic {
    background-color: #d9edf7;
}

.scoresheet .commercial {
    background-color: #fcf8e3;
}

.scoresheet .guild {
    background-color: #e9dffc;
}

.scoresheet .science {
    background-color: #dff0d8;
}

.scoresheet .leader {
    background-color: #f3f3f3;
}

td.smallCell {
    width: 1px;
    white-space: nowrap;
}