@{
    ViewBag.Title = "Voting";
}
@section scripts{
    @Scripts.Render("~/bundles/Event");
    <script src="/signalr/hubs"></script>
}

<h1><span data-bind="text: Title"></span>  <small data-bind="text: Subtitle"></small></h1>
<p data-bind="text: Description"></p>

<div class="row">
    <div class="col-md-10">
        <h3>Results <span data-bind="text: VoteCount"></span></h3>
        <div id="results-chart"></div>
        
        <h3>Voting</h3>
        <div data-bind="foreach: Options">
            <div class="row">
                <div class="col-md-4" data-bind="text: Name"></div>
                <div class="col-md-8" data-bind="vote: { value: Score, min: $parent.MinScore, max: $parent.MaxScore, enable: $parent.CanVote }"></div>
            </div>
        </div>

        <!-- ko if: CanVote -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#confirmSubmitModal">Submit</button>
        <!-- /ko -->

        <div class="modal fade" id="confirmSubmitModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>*@
                    <div class="modal-body">
                        <p>Submitting your vote is <strong>FINAL</strong>. You cannot take back or change your vote.</p>
                        <p>Are you sure you want to submit?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-bind="click: Submit">Submit</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="col-md-2 info-panel">
        <!-- ko if: IsCreator -->
        <h3>Controls</h3>
        <button class="btn btn-danger btn-block" data-bind="disable: EndDate(), click: CloseEvent">Close</button>
        <button class="btn btn-block" data-bind="visible: IsPrivate() && !EndDate(), click: AddMember, css: AddMemberButtonStyle">Add Member</button>
        <div style="display: none" data-bind="if: AddingMembers, slideVisible: AddingMembers">
            <select id="member-select" multiple>
                <option value=""></option>

                <!-- ko foreach: {data: Users, afterRender: AddMembersInit} -->
                <option data-bind="text: name, value: id"></option>
                <!-- /ko -->
            </select>
        </div>
        <!-- /ko -->

        <h3>Members <span style="display: none" class="glyphicon glyphicon-lock" data-bind="visible: IsPrivate"></span></h3>
        <ul style="display: none" data-bind="foreach: Members, visible: ShowMembers">
            <li data-bind="text: UserName"></li>
        </ul>
        <p style="display: none" data-bind="visible: !ShowMembers()">This event is still in progress.</p>
    </div>
</div>
