@{
    ViewBag.Title = "Voting";
}
@section scripts{
    @Scripts.Render("~/bundles/Event");
}
<div class="jumbotron">
    <h1>Voting</h1>
    <p data-bind="text: TypeDescription"></p>
</div>

<div class="row">
    <div class="col-md-10">
        <div>
            <h3>Results</h3>
            <div id="results-chart"></div>
        </div>

        <div data-bind="foreach: Options">
            <div class="row">
                <div class="col-md-4" data-bind="text: Name"></div>
                <div class="col-md-8" data-bind="vote: { value: Score, min: $parent.MinScore, max: $parent.MaxScore, readonly: $parent.CanVote }"></div>
            </div>
        </div>

        <!-- ko ifnot: CanVote -->
        <button class="btn btn-primary" data-bind="click: Submit">Submit</button>
        <!-- /ko -->
    </div>

    <div class="col-md-2">
        <h3>Members</h3>
        <div data-bind="foreach: Members">
            <p data-bind="text: UserName"></p>
        </div>
    </div>
</div>
