@{
    ViewBag.Title = "Voting";
}
@section scripts{
    @Scripts.Render("~/bundles/Event");
}
<div class="jumbotron">
    <h1>Voting</h1>
    <p>explanation goes here</p>
</div>

<div data-bind="foreach: Options">
    <div class="row">
        <div class="col-md-4" data-bind="text: Name"></div>
        <div class="col-md-8" data-bind="vote: {value: Score, min: $parent.MinScore, max: $parent.MaxScore}"></div>
    </div>
</div>
<button class="btn btn-primary" data-bind="click: Submit">Submit</button>