@{
    ViewBag.Title = "Voting";
}
@section scripts{
    @Scripts.Render("~/bundles/Event");
}

<h1>Voting</h1>
<p data-bind="text: TypeDescription"></p>

<div class="row">
    <div class="col-md-10">
        <h3>Results</h3>
        <div id="results-chart"></div>
        
        <h3>Voting</h3>
        <div data-bind="foreach: Options">
            <div class="row">
                <div class="col-md-4" data-bind="text: Name"></div>
                <div class="col-md-8" data-bind="vote: { value: Score, min: $parent.MinScore, max: $parent.MaxScore, readonly: $parent.CanVote }"></div>
            </div>
        </div>

        <!-- ko ifnot: CanVote -->
        <button class="btn btn-primary" data-bind="click: Submit">Submit</button>
        <!-- /ko -->
    </div>

    <div class="col-md-2 member-list">
        <h3>Members <span class="glyphicon glyphicon-lock" data-bind="visible: IsPrivate"></span></h3>
        <ul data-bind="foreach: Members">
            <li data-bind="text: UserName"></li>
        </ul>
    </div>
</div>
