@{
    ViewBag.Title = "Voting";
}
@section scripts{
    @Scripts.Render("~/bundles/Event");
    <script src="/signalr/hubs"></script>
}

<h1><span data-bind="text: Title"></span>  <small data-bind="text: Subtitle"></small></h1>
<p data-bind="text: Description"></p>

<div class="row">
    <div class="col-md-10">
        <h3>Results <span data-bind="text: VoteCount"></span></h3>
        <div id="results-chart"></div>
        
        <h3>Voting</h3>
        <div data-bind="foreach: Options">
            <div class="row">
                <div class="col-md-4" data-bind="text: Name"></div>
                <div class="col-md-8" data-bind="vote: { value: Score, min: $parent.MinScore, max: $parent.MaxScore, enable: $parent.CanVote }"></div>
            </div>
        </div>

        <!-- ko if: CanVote -->
        <button class="btn btn-primary" data-bind="click: Submit">Submit</button>
        <!-- /ko -->
    </div>

    <div class="col-md-2 info-panel">
        <!-- ko if: IsCreator -->
        <h3>Controls</h3>
        <button class="btn btn-danger btn-block" data-bind="disable: EndDate(), click: CloseEvent">Close</button>
        <button class="btn btn-default btn-block" data-bind="visible: IsPrivate() && !EndDate(), click: AddMember">Add Member</button>
        <div style="display: none" data-bind="slideVisible: AddingMembers">
            <select id="member-select" multiple>
                <option value=""></option>
            </select>
        </div>
        <!-- /ko -->

        <h3>Members <span style="display: none" class="glyphicon glyphicon-lock" data-bind="visible: IsPrivate"></span></h3>
        <ul style="display: none" data-bind="foreach: Members, visible: ShowMembers">
            <li data-bind="text: UserName"></li>
        </ul>
        <p style="display: none" data-bind="visible: !ShowMembers()">This event is still in progress.</p>
    </div>
</div>
