
@{
    ViewBag.Title = "SevenWonders_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    @Scripts.Render("~/bundles/SevenWondersView")
}

<div data-bind="template: 'sevenwonders-scoresheet-template'">

</div>

@Html.Partial("~/Views/Games/SevenWonders_ScoreSheet.cshtml")