<script type="text/html" id="sevenwonders-scoresheet-template">
    <table class="scoresheet">
        <tr class="header">
            <th class="icon"></th>
            <!-- ko foreach: PaddedPlayers-->
            <th data-bind="text: Name"></th>
            <!-- /ko -->
        </tr>
        <tr class="military" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'MilitaryScore' }"></tr>
        <tr class="coin" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'CoinScore' }"></tr>
        <tr class="wonder" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'WonderScore' }"></tr>
        <tr class="civic" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'CivicScore' }"></tr>
        <tr class="commercial" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'CommercialScore' }"></tr>
        <tr class="guild" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'GuildScore' }"></tr>
        <tr class="science" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'ScienceScore' }"></tr>
        <tr class="leader" data-bind="template: {name: 'sevenwonders-scoresheet-scorerow-template', data: 'LeaderScore' }"></tr>
        <tr class="total">
            <td class="icon"></td>
            <!-- ko foreach: PaddedPlayers-->
            <td data-bind="text: TotalScore"></td>
            <!-- /ko -->
        </tr>
    </table>
</script>

<script type="text/html" id="sevenwonders-scoresheet-scorerow-template">
    <td class="icon"></td>
    <!-- ko foreach: $parent.PaddedPlayers-->
    <td data-bind="template: {name: $root.cellTemplate, data: {player: $data, prop: $parent} }"></td>
    <!-- /ko -->
</script>

<script type="text/html" id="sevenwonders-scoresheet-inputcell-template">
    <input data-bind="value: player[prop]" />
</script>

<script type="text/html" id="sevenwonders-scoresheet-readonlycell-template">
    <span data-bind="text: player[prop]"></span>
</script>