
@{
    ViewBag.Title = "SevenWonders_New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-bind="with: WizardModel">
    <div data-bind="template: {name: Template, data: Model}"></div>
</div>

<script type="text/html" id="sevenwonders-new-player-template">

</script>

<script type="text/html" id="sevenwonders-new-score-template">

</script>